@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

*, ::after, ::before {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

html, body {
	width: 100%;
	height: 100%;
	
}

body {
	margin: 0;
	background-color: #EEEFF3;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
	color: rgba(black, .87);
}